<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Vue JS</title>
</head>

<body>
  <div class="">
    <div id="app">

        <a v-on:click="addNewUser()" >
          <img src="public/img/new-user.svg" width="40" height="40">
        </a>

        <p>
          <label>Name</label>
          <input type="text" v-once="newUser.name">
          <h3>{{newUser.name}}</h3>
        </p>
        <p>
          <label>Login</label>
          <input type="text" v-model="newUser.login">
          <h3>{{newUser.login}}</h3>
        </p>
        <p>
          <label>Password</label>
          <input type="password" v-model="newUser.password">
          <h3>{{newUser.password}}</h3>
        </p>




      <table border=1>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Login</th>
          <th>Password</th>
          <th>Remove</th>
        </tr>
        <tr v-for="user in sort">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{user.login}}</td>
          <td>{{user.password}}</td>
          <td>
            <a v-on:click="removeUser(user.id)">
              <img src="public/img/cancel.svg" width="32" height="32">
            </a>
          </td>
        </tr>
      </table>

    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="public/script.js"></script>

</body>

</html>
